<%- include("./partials/navbar") %> 
<%- include("./partials/sidebar") %> 

<div class="main-panel">
  <%- include("./partials/alerts") %> 
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="card border-primary">
                <div class="card-header">
                    <h4 class="text-center text-primary float-left">All Staff</h4>
                    <a href="/create-staff" class="btn btn-primary float-right">Add New Staff</a>
                </div>
                <div class="card-body">
                  
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Department</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                              <% for (let i = 0; i < staffs.length; i++ ) { %> 
                              <tr>
                                <td><%= i+1 %> </td>
                                <td> <%= staffs[i].name %>  </td>
                                <td> <%= staffs[i].email %>  </td>
                                <td> <%= staffs[i].department.name %>  </td>
                                <td> <%= staffs[i].status %>  </td>
                              </tr>
                              <% } %> 
                            
                            
                          </tbody>
                        </table>
                      </div>
                </div>
            </div>
        </div>
      </div>
      
    </div>
</div>
<%- include("./partials/footer") %> 
<script>
  $('table').DataTable({
  })
</script>
